<%- include('partials/header') -%>

<div class="container">
    <div class="jumbotron bd-shadow bg-light" style="margin-top: 5em;">
        <h1 class="display-4">Welcome to MOLE!</h1>
        <p class="lead">More-or-less elicitation is a value estimating program that is used for reducing bias in range estimation and forecasting</p>
        <hr class="my-4">
        <p>You could click buttons below for taking a test or seeing the results that you have taken.</p>
        <a class="btn btn-info btn-lg my-1" href="/tests/new" role="button">Take a MOLE test</a>
        <a class="btn btn-primary btn-lg my-1" href="/tests" role="button">See results</a>
    </div>
</div>



<%- include('partials/footer') -%>