<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome icons-->
    <!--<script src="https://kit.fontawesome.com/9b8350da32.js" crossorigin="anonymous"></script>-->

    <!--Vue-->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- custom methods -->
    <script src="/javascripts/custom_methods.js"></script>


    <title>Reset password</title>
</head>
<body>
    <main id="resetPassword" v-cloak>
        <div class="container d-flex flex-column align-items-center">
            <div class="bg-light recovery responsive-width-30 bd-shadow-2" >
                <div class="text-center recovery-head">
                    Reset password
                </div>
    
                <div class="form-group recovery-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control py-4" v-model="newPass" @input="changed">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" class="form-control py-4" v-model="conPass" @input="changed">
                    </div>

                    <div class="my-3">
                        <button class="btn btn-success w-100 py-2 mt-4" @click="reset" :disabled="!isValid || isSending">
                            <span v-show="!isSending" >Reset</span>
                            <img v-show="isSending" class="regular-image" src="/pictures/loading.gif" alt="Loading" >
                        </button>
                    </div>
                    
                </div>
    
                
            </div>
    
            <div class="info responsive-width-30 bd-shadow-2" id="info">
                <p class="m-0 p-0">
                    Password length : 6 ~ 30
                </p>
                <p class="m-0 p-0">
                    Letters and numbers allowed
                </p>
            </div>
        </div>
    </main>


    <script src="/javascripts/reset_password.js"></script>
</body>
</html>